# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class

# Local User Settings (Now saved in AppData, but ignored if written locally)
settings.json

# IDE and Project Tooling
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
